body{
    background-color:grey;
  

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid grey;
    background: slategray;
    color: #221616;
    cursor: pointer;
}
.banner{
    width:100%;
  
 background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))url(images/building.jpeg );
}
.navbar {
   
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(143, 141, 140);
    padding:0;
    margin:0;
    font-family:monospace;
}
ul{
    list-style:none;
 
}
ul li{
    display:inline-block;
    position:relative;
}
ul li a{
    display:block;
    padding:20px 25px;
    color:black;
    text-decoration:none;
    text-align:center;
    font-size:30px;
}
ul class.dropdown li{
    display: block;

}
ul li ul.dropdown{
    width:100%;

}
}