body{
margin: 0;
font-family: Arial, 'Times New Roman', Times, serif;
background-color: #f6f5f7;
}

.banner {
background: url('images/burjkhalifa.jpg') no-repeat center center/cover;
height: 10%;
color: white;
display: flex;
justify-content: center;
align-items: normal;
flex-direction: column;
text-align: center;
padding: 20px;
box-sizing: border-box;
}
.content-container{

}
.dropdown{
    display:inline-block;
}
.dropdown button{
    background-color:rgb(54, 57, 61);
    color:white;
    padding:10px 15px;
    border:none;
    cursor:pointer;

}

.dropdown a {
   padding:10px 15px;
   text-decoration: none;
    display: flex;
    color:black;
}
.dropdown .content{
    background-color: rgba(240, 248, 255, 0.995);
    position:absolute;
    min-width:100px;
    box-shadow: 2px 2px 5px rgba(65, 68, 76, 0.838);
}
.dropdown:hover .content{
    display:block;

}
.dropdown:hover button{
    background-color: hsl(0,0%,70%);
}
.dropdown a:hover{
    background-color: hsl(0,0%,90%);
}
