body{
    background-color:rgb(28, 177, 177);
    text-align: justify;
    font-size: medium;

}
    
.banner{
    width:100%;
  
 background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75))url(images/building.jpeg );
}
.dropdown{
    display:inline-block;
}
.dropdown button{
    background-color:rgb(54, 57, 61);
    color:white;
    padding:10px 15px;
    border:none;
    cursor:pointer;

}

.dropdown a {
   padding:10px 15px;
   text-decoration: none;
    display: flex;
    color:black;
}
.dropdown .content{
    background-color: rgba(240, 248, 255, 0.995);
    position:absolute;
    min-width:100px;
    box-shadow: 2px 2px 5px rgba(65, 68, 76, 0.838);
}
.dropdown:hover .content{
    display:block;

}
.dropdown:hover button{
    background-color: hsl(0,0%,70%);
}
.dropdown a:hover{
    background-color: hsl(0,0%,90%);
}